div.Navegador {
  color: black;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
  padding: 5px;
  border: 5px solid grey;
  margin: 0px; 
  text-align: center;  
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
}

button.Navegador {
  border-radius: 12px;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 15px;
  background-color: grey;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px dotted;
  border: 2px solid black;
  padding: 6px 6px 6px 6px
  }

a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: white;
}

a:active {
  color: black;
}

body {
  margin: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

li{
  display: inline;
}

button.Navegador {
  transition-duration: 0.4s;
}

button:hover {
  background-color: black; 
  color: white;
}

div.Item1{
  text-align: center;
  border: 5px solid gray;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
}

div.Item2{
  text-align: center;
  border: 5px solid gray;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
}

div.Item3{
  text-align: center;
  border: 5px solid gray;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
}

div.Item4{
  text-align: center;
  border: 5px solid gray;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
}

div.Item5{
  text-align: center;
  border: 5px solid gray;
  background-image: linear-gradient(to right,rgb(105, 197, 228) 25%, rgb(199, 231, 241) 50%);
}