div.Navegador {
  color: black;
  background-image: linear-gradient(to right,blue 20%, purple 50%);
  padding: 5px;
  border: 6px solid grey;
  margin: 0px;   
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
}

button.Navegador {
  border-radius: 12px;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 15px;
  background-color: grey;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px dotted;
  border: 2px solid black;
  padding: 6px 6px 6px 6px
  }

a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: white;
}

a:active {
  color: black;
}

body {
  margin: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

li{
  display: inline;
}

button.Navegador {
  transition-duration: 0.4s;
}

button:hover {
  background-color: black; 
  color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

div.flex-container{
  text-align: center;
}