#header {
    padding: 4.5em 1.5em;
    background-image: url(../img/monte.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-size: auto, cover;
    left: right;
    position: relative;
    text-align: center;
    top: auto;
    height: 100%;
}

#body {
    color: #a2a2a2;
    text-align: center;
    -webkit-text-size-adjust: none;
}

p{
    margin-bottom: 32px;

}



