body {
    background-color: #935d8c;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

header {
    padding: 7em 5em 4em 5em;
}

p {
    font-size: 1.25em;
    letter-spacing: -0.025em;
}

p {
    margin: 0 0 2em 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

